.mainheader-topbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

#logo{
    width: 200px;
}

.logo-input-icon{
    margin-top: 20px;
}

.text-align-center{
    margin-top: 25px;
}

.burger-menu{
    display:none;
}

#ml-main-nav{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#ml-main-nav ul{
    display: flex;
}

#ml-main-nav li{
    margin: 0% 5px;
    font-size: 14px;
}

/* Register login */

.form-register{
    width: 280px;
    margin-left: auto;
}

.button-submit,
.button-reset{
    width: 100px;
    margin-left: 15px;
}

/* Articulos */

.contenido-articulo{
    padding: 0px;
    width: 20%;
}

/* footer */

.contenedor-footer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

.pagos,
.envios,
.seguridad{
    width: 30%;
}

.card:hover,
.gift:hover,
.shield:hover
{
    color: #EAC926;
}

.h-footer{
    margin-bottom: 0px;
}

.p-footer{
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}
