.input-search{
    width:40%;
    margin-right: 20px;
    padding-left: 10px;
}

.search-icon{
    top: 30px;
    margin-right: 15px;
}

.product-wrapper{
    box-shadow: none;
}

.contenido-articulo{
    background-color: white;
    width: 35%;
}

.contenido-articulo .text-desc{
    opacity: 0;
}

.contenido-articulo:hover .product-wrapper{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product-wrapper:hover .text-desc{
    transition: opacity none 450ms;
    opacity: 1;
}
.truck{
    transition: transform ease-in-out 500ms;
}

.product-wrapper:hover .truck{
    transform: rotate(360deg) ;
}

/* register */

.form-register{
    width: 65%;
    margin:auto;
    border: 3px solid white;
    padding: 15px;
}

.button-submit,
.button-reset{
    margin-left: 30px;
}

/* login */

.form-login{
    width: 100%;
    text-align: center;
}

